<header>
  <div class="menu" style="justify-content: space-between;display: flex;">
    <div>
        <img id="logo" style="vertical-align: middle;" src="/assets/images/logo-light.png" alt="logo" height="30"/>
        <h6 style="vertical-align: middle; display: inline;">Exit Door Games &middot; Dev Blog</h6>
    </div>
    <ul style="margin-top:5px">
        <li><a href="https://exitdoorgames.com">home</a></li>
        <li><a href="https://blog.exitdoorgames.com">dev_blog</a></li>
    </ul>
  </div>
</header>
